*{
    margin: 0;
    padding: 0;
    outline: 0;
}


.sign_part{

    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/vintage.jpg);
    background-size: cover;
    height: 670px;
    margin: 0 auto;
    background-position: center;
    padding-top: 80px;

}

.sign_box{
    border: 1px solid rgba(0,0,0,0.8);
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;

}
.sign_part .sign_box h1{
    margin-bottom: 30px;
    color: aliceblue;
}
.sign_part .sign_box .username{
    background-color: rgba(0,0,0,0.6);

    width: 400px;
    padding: 10px 10px;
    border: 1px solid #000;
    color: #fff;
}
.sign_part .sign_box .password{
background-color: rgba(0,0,0,0.6);    width: 400px;
    padding: 10px 10px;
    border: 1px solid #000;
    color: #fff;

}


.sign_part .sign_box .submit{
    padding: 10px 150px;
    	background-color: #0c4c44;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #0c4c44;
    border-radius: 10px;
    font-weight: 600;
/*#00b894;*/
    transition: 0.7s;
}
.sign_part .sign_box .submit:hover{
    background-color: #00b894;
    border: 1px solid #00b894;
    box-shadow: 0px 0px 10px #00b894;
    color: #000;
}







